body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: Reactor7;
}

li {
  list-style-type: none;
  color: white;
  font-size: 35px;
  line-height: 30px;
  text-shadow: 2px 3px black;
}

.menu {
  background:linear-gradient(150deg, #f704ad, #08a6b5);
  border: 3px solid white;
  box-shadow: inset 3px 3px black;
  border-radius: 5px;
  /* float: right; */
}

.side-menu {
  padding: 5px 40px 5px 0;
  width: 140px;
  position: relative;
  top: -560px;
  left: 900px;
}

.side-menu:hover {
  cursor: url("FF7Cursor.webp"), auto;
}

.side-menu ul {
  position: relative;
  left: -5px;
  margin: 5px 0 5px 0;
}
.time-menu {
  width: 200px;
  position: relative;
  top: -390px;
  left: 890px;
}

.time-menu ul {
  padding-left: 6px;
  padding-right: 3px;
}

.time-menu span {
  float: right;
}

.location-menu {
  width: 500px;
  position: relative;
  top: -390px;
  left: 590px;
}

.location-menu ul { 
  padding-left: 15px;
  padding-right: 250px;
}

.stats-menu {
  width: 900px;
  position: relative;
  top: 50px;
  left: 100px;
}

.stats-menu ul {
  display: inline-block;
  padding: 20px 75px 5px 50px;
  margin: 0px;
}

#status span {
  color: #00efef;
}

#status {
  padding: 0;
}

.img {
  max-width:170px;
  max-height: 170px;
  padding: 0 25px 0 0;
}

progress {
  position: relative;
  top: -20px;
  width: 200px;
  height: 7px;
}

#hp::-moz-progress-bar {
  background: linear-gradient(45deg, #1586f7, #bdc7ce);
}

#hp, #mp {
  background: #340000;
  border: none;
  box-shadow: 0px 3px black;
}

#magic {
  position: relative;
  top: -15px;
}

#mp::-moz-progress-bar {
  background: linear-gradient(45deg, #21f78c, #b5cfbd);
}

.limit {
  height: 14px;
  width: 200px;
  border: 3px solid #cecbce;
  background: linear-gradient(#636563, #333);
  box-shadow: 3px 3px black;
  border-radius: 2px;
}

.limit::-moz-progress-bar {
  background: linear-gradient(#943965, #d6cecc);
}

.limitBreak {
  position: relative;
  left: 75px;
}

.limitBreak li {
  padding: 0 0 8px 0;
  position: relative;
  left: -75px;
}
